/* Import Fonts Roboto */
@import url(./fonts.css);

/* ----------  VARIABLES ----------*/
:root {
  /* Font Size */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-md: 16px;
  --font-size-lg: 21px;
  --font-size-xl: 26px;
  --font-size-xxl: 30px;

  /* Font Weight */
  --font-weight-sm: 300;
  --font-weight-md: 400;
  --font-weight-lg: 500;
  --font-weight-xl: 700;

  /* Colors */
  --color-white: rgb(255, 255, 255);
  --color-black: rgb(43, 47, 49);
  --color-gray: rgb(139, 139, 139);
  --color-blue: rgb(19, 121, 247);
  --color-red: rgb(235, 83, 83);
  --color-yellow: rgb(245, 211, 4);
  --color-green: rgb(10, 205, 59);

  /* Box Shadow */
  --box-shadow-sm: 0 0 25px rgba(0, 0, 0, 0.1);
  --box-shadow-md: 0px 4px 16px rgba(17, 17, 26, 0.1),
    0px 8px 32px rgba(17, 17, 26, 0.05);

  /* Border */
  --border-sm: 1px solid rgb(233 233 233);
  --border-md: 2px solid rgb(233 233 233);

  /* Border Radius */
  --border-radius-sm: 3px;
  --border-radius-md: 5px;
  --border-radius-lg: 10px;
}

/* ----------  RESET CSS ----------*/
* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body,
input,
button {
  font-family: "Roboto";
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a {
  color: var(--color-black);
}
a {
  text-decoration: none;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
table {
  border-collapse: collapse;
}
input {
  width: 100%;
  height: 100%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
label {
  width: max-content;
}
label,
button {
  cursor: pointer;
}
button {
  background: none;
}
:disabled {
  opacity: 0.5;
  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
ul,
li {
  list-style: none;
}
img {
  width: 100%;
  height: 100%;
}

/* ---------- GLOBAL CLASS ----------*/
/* Form */
.form-control {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 15px;
}
.form-control > label {
  font-size: var(--font-size-sm);
}
.form-control > input {
  padding: 7px 13px;
  border: var(--border-sm);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
  box-shadow: var(--box-shadow-sm);
  border-radius: var(--border-radius-sm);
  -webkit-border-radius: var(--border-radius-sm);
  -moz-border-radius: var(--border-radius-sm);
  -ms-border-radius: var(--border-radius-sm);
  -o-border-radius: var(--border-radius-sm);
  transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  -moz-transition: all 0.2s ease-in;
  -ms-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
}
.form-control > input::placeholder {
  color: var(--color-gray);
}
.form-control > input:focus {
  border-color: var(--color-blue);
}

/* Button */
.btn {
  padding: 7px 12px;
  color: var(--color-white);
  font-size: var(--font-size-sm);
  font-weight: var(--font-weight-sm);
  border-radius: var(--border-radius-sm);
  -webkit-border-radius: var(--border-radius-sm);
  -moz-border-radius: var(--border-radius-sm);
  -ms-border-radius: var(--border-radius-sm);
  -o-border-radius: var(--border-radius-sm);
}
.btn-primary {
  background: var(--color-blue);
}
.btn-danger {
  background: var(--color-red);
}
.btn-success {
  background: var(--color-green);
}
.btn-warning {
  background: var(--color-yellow);
}
.btn-dark {
  background: var(--color-black);
}
.btn-group > .btn {
  margin-right: 10px;
}
/* Container */
.container {
  width: 100%;
  max-width: 90%;
  margin: 30px auto;
}

/* ---------- STYLE ----------*/
/* Card */
.card{
  width: 100%;
  box-shadow: var(--box-shadow-sm);
}
/* Header */
.header{
  width: 100%;
  display: flex;
  align-items: center;
}
.logo{
  margin-right: 10px;
  font-size: var(--font-size-xxl);
  color: var(--color-blue);
}
.navbar__items{
  height: 100%;
  display: flex;
  align-items: center;
}
.navbar__item{
  height: 100%;
}
.navbar__link{
  display: block;
  width: 100%;
  height: 100%;
  padding:10px 15px;
  font-size: var(--font-size-md);
  font-weight: var(--font-weight-lg);
  color: var(--color-black);
}